@font-face {
  font-family: Helvetica Neue Roman;
  src: url("/fonts/HelveticaNeueRoman.otf");
}

@font-face {
  font-family: EB Garamond;
  src: url("/fonts/EB-Garamond.ttf");
}

:root {
	--content-max-width: 1248px;
	--nav-selector-transition: 0.5s;
	--tab-underline-transition: 0.7s;
	--default-transition: 120ms ease-out;

	--dark: #111111;
	--dark-80: rgba(0 0 0 / 80%);
	--dark-50: rgba(0 0 0 / 50%);
	--dark-15: rgba(0 0 0 / 15%);
	--dark-10: rgba(0 0 0 / 10%);
	--dark-5: rgba(0 0 0 / 5%);
	
	--light: #ffffff;
	--light-80: rgba(255 255 255 / 80%);
	--light-70: rgba(255 255 255 / 70%);
	--light-50: rgba(255 255 255 / 50%);
	--light-15: rgba(255 255 255 / 15%);
	--light-10: rgba(255 255 255 / 10%);
	
	--blue: #3052F5;
	--green: #4BE15D;
	--yellow: #FFD200;
	--gray: #acacac;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus-visible {
	outline: 3px dotted var(--light);
	outline-offset: 2px;
	border-radius: 4px;
}

.dark-text *:focus-visible {
	outline-color: var(--dark);
}

body {
	font-family: Helvetica Neue Roman, sans-serif;
	color: var(--dark);
}

a {
	text-decoration: none;
}

h1 {
	font-size: 128px;
	font-weight: 700;
}

h2 {
	font-size: 40px;
	font-weight: 400;
}

nav {
	display: flex;
	/* max-width: var(--content-max-width); */
	position: fixed;
	padding: 32px 16px;
 	width: 100%;
 	/* transform: translateX(-50%); */
 	/* left: 50%; */
	top: 0;
	left: 0;
	z-index: 10;
	 /* mask: linear-gradient(to bottom, var(--dark), var(--dark), transparent); */
	 /* background: rgba(0 0 0 / 30%); */
	 /* backdrop-filter: blur(8px); */
	overflow: hidden;
}

.gradient-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 128px;
  z-index: 5;
  pointer-events: none;
  transform: rotate(180deg);
}

.gradient-blur > div,
.gradient-blur::before,
.gradient-blur::after {
  position: absolute;
  inset: 0;
}

.gradient-blur::before {
  content: "";
  z-index: 1;
  backdrop-filter: blur(0.5px);
  mask: linear-gradient(
	 to bottom,
	 rgba(0, 0, 0, 0) 0%,
	 rgba(0, 0, 0, 1) 12.5%,
	 rgba(0, 0, 0, 1) 25%,
	 rgba(0, 0, 0, 0) 37.5%
  );
}

.gradient-blur > div:nth-of-type(1) {
  z-index: 2;
  backdrop-filter: blur(1px);
  mask: linear-gradient(
	 to bottom,
	 rgba(0, 0, 0, 0) 12.5%,
	 rgba(0, 0, 0, 1) 25%,
	 rgba(0, 0, 0, 1) 37.5%,
	 rgba(0, 0, 0, 0) 50%
  );
}

.gradient-blur > div:nth-of-type(2) {
  z-index: 3;
  backdrop-filter: blur(2px);
  mask: linear-gradient(
	 to bottom,
	 rgba(0, 0, 0, 0) 25%,
	 rgba(0, 0, 0, 1) 37.5%,
	 rgba(0, 0, 0, 1) 50%,
	 rgba(0, 0, 0, 0) 62.5%
  );
}

.gradient-blur > div:nth-of-type(3) {
  z-index: 4;
  backdrop-filter: blur(4px);
  mask: linear-gradient(
	 to bottom,
	 rgba(0, 0, 0, 0) 37.5%,
	 rgba(0, 0, 0, 1) 50%,
	 rgba(0, 0, 0, 1) 62.5%,
	 rgba(0, 0, 0, 0) 75%
  );
}

.gradient-blur > div:nth-of-type(4) {
  z-index: 5;
  backdrop-filter: blur(8px);
  mask: linear-gradient(
	 to bottom,
	 rgba(0, 0, 0, 0) 50%,
	 rgba(0, 0, 0, 1) 62.5%,
	 rgba(0, 0, 0, 1) 75%,
	 rgba(0, 0, 0, 0) 87.5%
  );
}

.skip-to-main {
	position: absolute;
	top: -48px;
	left: 8px;
	padding: 12px 16px;
	text-decoration: none;
	border-radius: 4px;
	font-size: 16px;
	z-index: 1000;
	transition: 0.2s ease-in-out;
}

.light-text .skip-to-main {
	background: var(--light);
	color: var(--dark);
}

.dark-text .skip-to-main {
	background: var(--dark);
	color: var(--light);
}

.skip-to-main:focus-visible {
	top: 8px;
}

.gradient-blur > div:nth-of-type(5) {
  z-index: 6;
  backdrop-filter: blur(8px);
  mask: linear-gradient(
	 to bottom,
	 rgba(0, 0, 0, 0) 62.5%,
	 rgba(0, 0, 0, 1) 75%,
	 rgba(0, 0, 1, 1) 87.5%,
	 rgba(0, 0, 0, 0) 100%
  );
}

.gradient-blur > div:nth-of-type(6) {
  z-index: 7;
  backdrop-filter: blur(8px);
  mask: linear-gradient(
	 to bottom,
	 rgba(0, 0, 0, 0) 75%,
	 rgba(0, 0, 0, 1) 87.5%,
	 rgba(0, 0, 0, 1) 100%
  );
}

.gradient-blur::after {
  content: "";
  z-index: 8;
  backdrop-filter: blur(8px);
  mask: linear-gradient(
	 to bottom,
	 rgba(0, 0, 0, 0) 87.5%,
	 rgba(0, 0, 0, 1) 100%
  );
}


nav .inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 20;
}

nav ul {
	display: flex;
	gap: 32px;
	position: relative;
}

nav ul li {
	list-style: none;
}

nav a {
	font-size: 16px;
	padding: 8px 4px;
	transition: var(--default-transition);
}

.dark-text nav ul li a {
	color: var(--dark-50);
}

.dark-text nav ul li a:hover {
	color: var(--dark);
}

.light-text nav ul li a {
	color: var(--light-50);
}

.light-text nav ul li a:hover {
	color: var(--light);
}

.light-text nav ul li.selected a {
	color: var(--light);
}

.dark-text nav ul li.selected a {
	color: var(--dark);
}

nav .indicator {
	position: absolute;
	top: 100%;
	margin-top: 4px;
	font-size: 16px;
	pointer-events: none;
	z-index: 10;
}

.hero {
	height: 500px;
	display: flex;
	align-items: flex-end;
	padding: 64px 32px;
}

.button {
	display: inline-block;
	padding: 12px 24px;
	border-radius: 8px;
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
	transition: all 0.2s ease;
	height: 42px;
}

.button.light {
	background-color: var(--light);
	color: var(--dark);
}

.button.light-10 {
	background-color: var(--light-10);
	color: var(--light);
}

.button.light-10:hover {
	background-color: var(--light-15);
}

.button.dark {
	background-color: var(--dark);
	color: var(--light);
}

.button.dark:hover {
	background-color: var(--dark-80);
}

.button.dark-10 {
	background-color: var(--dark-10);
	color: var(--dark);
}

.button.dark-10:hover {
	background-color: var(--dark-15);
}

.tabs-container {
	margin-top: 64px;
	width: 100%;
}

.tabs {
	display: flex;
	gap: 24px;
	position: relative;
	margin-top: 24px;
	padding-top: 16px;
	width: 100%;
}

.tab {
	background: none;
	border: none;
	font-size: 32px;
	cursor: pointer;
	transition: var(--default-transition);
	color: var(--light-50) !important
}

.tabs .work-tab {
	position: relative;
	 top: 4px;
}

.tab:focus-visible {
	outline-offset: 6px;
}

.craft {
	font-family: 'EB Garamond', serif;
}

.tab:hover,
.tab.active {
	color: var(--light) !important;
}

.tabs .sep {
	width: 100%;
	height: 1px;
	background: var(--light-10);
	position: absolute;
	top: 0;
	left: 0;
}

.tab-underline {
	position: absolute;
	top: 0;
	height: 1px;
	background-color: var(--light);
	/* transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1), width 0.3s cubic-bezier(0.4, 0, 0.2, 1); */
	transition:
	 left var(--tab-underline-transition) cubic-bezier(0.75, 0.1, 0.2, 0.9),
	 width var(--tab-underline-transition) cubic-bezier(0.75, 0.1, 0.2, 0.9);
}

.panels-container {
	overflow: hidden;
	width: 100%;
}

.panels-wrapper {
	display: flex;
	width: 200%;
	/* transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1); */
	transition:
	 transform 0.6s cubic-bezier(0.75, 0.1, 0.2, 0.9);
}

.panel-slide {
	width: 50%;
	background: #000;
}

.panel-slide > div {
	transition: var(--tab-underline-transition);
}

.panel h3 {
	font-size: 24px;
	margin-bottom: 16px;
}

.panel p {
	font-size: 16px;
}

.inner {
	max-width: var(--content-max-width);
	margin: 0 auto;
	width: 100%;
}

.hero .inner {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 32px;
   align-items: flex-end;
}

.hero .inner > * {
	grid-column: span 3;
}

.hero .inner h2 {
	 position: relative;
	 bottom: 8px;
}

.light-text .hero *, .light-text nav * {
	color: var(--light);
}

.dark-text .hero *, .dark-text nav * {
	color: var(--dark);
}

.button-row {
	display: flex;
	gap: 16px;
}

.home {
	padding-bottom: 16px;
}

.home .inner {
	display: flex;
	flex-direction: column;
	gap: 32px;
	justify-content: flex-end;
}

.home .inner .text {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.home h1, .home h2 {
	font-size: 24px;
	max-width: 50%;
	line-height: 130%;
	font-weight: 400;
}

.home .top {
	display: flex;
	flex-direction: column;
	gap: 32px;
	width: 100%;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	/* padding: 12px 16px; */
	padding: 15px 16px 12px 16px;
	border-radius: 4px;
	font-size: 16px;
	transition: var(--default-transition);
	width: 120px;
}

.button:not(.light-10):not(.dark-10):hover {
	opacity: 0.8;
}

.button.light {
	background: var(--light);
	color: var(--dark);
}

.button.light-10 {
	background: var(--light-10);
	color: var(--light);
}

.button.light-10:hover {
	background: var(--light-15);
}

.button.dark {
	background: var(--dark);
	color: var(--light);
}

.button.dark-10 {
	background: var(--dark-10);
	color: var(--dark);
}

.button.dark-20 {
	background: var(--dark-15);
}

.light-text .hero ::selection {
	background: var(--light);
	color: var(--dark)
}

::selection {
	background: var(--dark);
	color: var(--light)
}

.work-panel {
	display: flex;
	flex-direction: column;
}

.work-section {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;	
	justify-content: center;
	align-items: center;
	padding: 64px 16px;
	position: relative;
	border-top: 1px solid var(--light-10);
}

.work-section ::selection {
	background: var(--accent);
	color: var(--onAccent);
}

.work-section .top {
	display: grid;
  grid-template-columns: repeat(6, 1fr);
	gap: 32px;
}

.work-section .inner {
	display: flex;
	flex-direction: column;
	gap: 32px;
	z-index: 2;
}

.work-section .inner .left {
	display: flex;
	flex-direction: column;
	gap: 16px;
	flex: 1;
 	grid-column: span 3;
}

.work-section .inner .left .info {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.work-section .inner .left .info h2 {
	color: var(--light);
	font-size: 24px;
	font-weight: normal;
	line-height: 130%;
	max-width: 75%;
}

.work-section .inner .left .info .heading {
	font-weight: 700;
}

.work-section .inner .left .info .subheading {
	color: var(--light-70);
}

.work-section .inner .left .info img {
	width: 48px;
	height: 48px;
	border-radius: 4px;
}

.work-section .inner .right {
   grid-column: span 3;
	display: flex;
	gap: 32px;
	flex: 1;
	justify-content: flex-end;
	padding-top: 64px;
}

.work-section .inner .right p {
	flex: 1;
	color: var(--light-80);
	font-size: 16px;
	line-height: 130%;
}


.work-section .img {
	width: 100%;
	height: 600px;
	border-radius: 4px;
	background: var(--light-10);
	backdrop-filter: blur(32px);
	border: 1px solid var(--light-10);
}

.work-section .backdrop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	mask: linear-gradient(to bottom, var(--dark), var(--dark), transparent);
	background: rgba(0 0 0 / 30%);
}

.light-section {
	background: var(--light);
}

.craft-panel {
	background: var(--light);
	padding: 64px 16px;
}

.craft-panel .inner {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.craft-panel .inner .row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 32px;
}

.craft-panel .inner .col {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.craft-panel .inner .col img {
	width: 100%;
	object-fit: cover;
	border-radius: 4px;
	border: 1px solid var(--dark-10);
}

footer {
	padding: 64px 16px;
	background: var(--dark);
}

footer .inner {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 32px;
}

footer .inner .col {
	grid-column: span 1;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

footer .inner .double {
	gap: 24px;
}

footer .inner .double .mini-col {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

footer .inner .button-row {
  grid-column: span 3;
  justify-content: flex-end;
}

footer a, footer p {
	font-size: 16px;
	line-height: 130%;
	transition: var(--default-transition);
}

footer a, footer p.light {
	color: var(--light);
}

footer a:not(a.button):focus-visible {
	outline-offset: 6px;
	border-radius: 1px;
	height: 20.8px;
}

footer a:focus-visible {
	outline-color: var(--light) !important;
}

footer p {
	color: var(--light-50);
}

footer ul {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

footer ul li {
	list-style: none;
}

footer .row {
	display: flex;
	align-items: center;
	gap: 8px;
}

button {
	font-family: 'Helvetica Neue Roman', sans-serif;
}

.contact .light-section {
	padding: 64px 16px;
}

.contact .light-section .inner {
	display: flex;
	flex-direction: column;
	gap: 96px;
}

.contact .inner .text-wrapper {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 32px;

}

.contact .inner .text {
	display: flex;
	flex-direction: column;
	gap: 32px;
	grid-column: span 3;
}

.contact .inner .text p {
	font-size: 24px;
}

.contact-cards {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 48px 32px;
}

.contact-card {
	padding: 24px;
	background: var(--dark-5);
	border-radius: 4px;
	position: relative;
	height: 128px;
	display: flex;
	align-items: flex-end;
	grid-column: span 3;
	transition: var(--default-transition);
}

.contact-card:hover {
	background: var(--dark-10);
}

.contact-card:hover svg {
	transform: translate(4px, -4px);
}

.contact-card:hover svg path {
	stroke: var(--dark);
}

.contact-card .top-line {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 3px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.contact-card h3 {
	font-size: 24px;
	color: var(--dark);
}

.contact-card svg {
	position: absolute;
	top: 24px;
	right: 24px;
	transition: var(--default-transition);
	width: 32px;
	height: 32px;
}

.contact-card svg path {
	stroke: var(--gray);
}

.contact-card img {
	width: 64px;
	height: 64px;
	position: absolute;
	left: 24px;
	top: -32px;
	border-radius: 4px;
	transition: var(--default-transition);
}

.contact-card .resume-img {
	border-radius: 1px;
	box-shadow: 0 1px 2px rgba(0 0 0 / 32%);
}

.contact-card:hover img {
	transform: rotate(4deg) scale(1.06) translate(4px, -4px);
	box-shadow: 0 2px 4px rgba(0 0 0 / 32%);
}

.contact-card a:focus-visible {
	outline: none;
}

.contact-card a::after {
	position: absolute;
	inset: 0;
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 4px;
	transition: var(--default-transition);
}

.contact-card a:focus-visible::after {
	outline: 3px dotted var(--dark);
	outline-offset: 2px;
}

.contact-card:hover svg path {
  stroke: var(--card-accent-color);
}

.contact .letter-wrapper {
	display: flex;
	justify-content: center;
	position: relative;
}

.contact .letter-wrapper:hover .paper, .contact:has(.copy:focus-visible) .paper {
  transform: translateX(-50%) translate(8px, -24px) rotate(4deg) scale(1.03);
  box-shadow: 0 -8px 16px rgba(0 0 0 / 8%);
}

.contact .letter-wrapper:hover .paper .copy, .contact .copy:focus-visible {
	opacity: 0.7 !important;
	transform: scale(1) !important;
}

.contact .letter-bg {
	position: relative;
	bottom: -200px;
}

.contact .letter-fg {
	position: absolute;
	bottom: -212px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	pointer-events: none;
}

.contact .paper {
	position: absolute;
	bottom: -170px;
	left: 50%;
	transform: translateX(-50%);
	background: var(--light);
	border-radius: 4px;
	z-index: 1;
	box-shadow: 0 -4px 8px rgba(0 0 0 / 8%);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	padding: 48px 32px;
	width: 300px;
	height: 300px;
	/* transition: var(--default-transition); */
	transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.5), top 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.5), box-shadow var(--default-transition);
	border: 1px solid var(--dark-15);
}

.contact .paper .top {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.contact .paper h2 {
	font-size: 24px;
}

.contact .paper .top a {
	width: 200px;
	height: 42px;
}

.contact .paper > * {
	z-index: 3;
}

.contact .paper .copy {
	opacity: 0;
	transition: var(--default-transition);
	transform: scale(0.8);
	color: var(--dark-50);
	font-size: 16px;
	background: none;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
	cursor: pointer;
	padding: 12px;
	width: 200px;
	height: 42px;
}

.contact .paper .copy:hover {
	opacity: 1 !important;
}

.contact .paper .copy svg {
	width: 18px;
	height: 18px;
	position: relative;
	top: -2px;
}

.contact .paper .copy:hover svg path {
	transition: var(--default-transition);
}

.contact .paper .copy:hover svg .first {
	transform: translate(-0.75px, -0.75px);
}

.contact .paper .copy:hover svg .second {
	transform: translate(0.75px, 0.75px);
}

.contact .paper .copy .checkmark-icon {
	animation: checkmark-icon-appear 0.4s ease-in-out;
	transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.5);
}

@keyframes checkmark-icon-appear {
	0% { transform: scale(1); }
	50% { transform: scale(0.5); }
	100% { transform: scale(1); }
}