
@font-face {
  font-family: EB Garamond;
  src: url("/fonts/EB-Garamond.ttf");
}

:root {
	--content-max-width: 1248px;
	
	--nav-selector-transition: 0.5s;
	--tab-underline-transition: 0.7s;
	--default-transition: 120ms ease-out;
	--longer-transition: 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
	--slimy-transition: cubic-bezier(0.75, 0.1, 0.2, 0.9);
	--bouncy-transition: cubic-bezier(0.18, 0.89, 0.32, 1.5);
	
	--img-border-radius: 4px;

	--dark: #000000;
	--dark-80: rgba(0 0 0 / 80%);
	--dark-50: rgba(0 0 0 / 50%);
	--dark-15: rgba(0 0 0 / 15%);
	--dark-10: rgba(0 0 0 / 10%);
	--dark-5: rgba(0 0 0 / 5%);
	
	--light: #fafafa;
	--light-80: rgba(255 255 255 / 80%);
	--light-70: rgba(255 255 255 / 70%);
	--light-50: rgba(255 255 255 / 50%);
	--light-20: rgba(255 255 255 / 20%);
	--light-15: rgba(255 255 255 / 15%);
	--light-10: rgba(255 255 255 / 10%);
	--light-5: rgba(255 255 255 / 5%);
	
	--blue: #3052F5;
	--red: #B31B1B;
	--green: #4BE15D;
	--yellow: #FFD200;
	--gray: #acacac;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus-visible {
	outline: 3px dotted var(--light);
	outline-offset: 2px;
	border-radius: 4px;
}

.dark-text *:focus-visible {
	outline-color: var(--dark);
}

body {
	font-family: sans-serif;
	color: var(--light);
	background: var(--dark);
}

a {
	text-decoration: none;
}

h1 {
	font-size: 96px;
	font-weight: 700;
}

h2 {
	font-size: 40px;
	font-weight: 400;
}

nav {
	display: flex;
	/* max-width: var(--content-max-width); */
	position: fixed;
	padding: 32px;
 	width: 100%;
 	/* transform: translateX(-50%); */
 	/* left: 50%; */
	top: 0;
	left: 0;
	z-index: 10;
	 /* mask: linear-gradient(to bottom, var(--dark), var(--dark), transparent); */
	 /* background: rgba(0 0 0 / 30%); */
	 /* backdrop-filter: blur(8px); */
	overflow: hidden;
}

nav a {
	color: var(--light-50);
}

nav a:hover {
	color: var(--light);
}

li.selected a, nav span, .name {
	color: var(--light);
}

.gradient-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 128px;
  z-index: 5;
  pointer-events: none;
  transform: rotate(180deg);
}

.gradient-blur > div,
.gradient-blur::before,
.gradient-blur::after {
  position: absolute;
  inset: 0;
}

.gradient-blur::before {
  content: "";
  z-index: 1;
  backdrop-filter: blur(0.5px);
  mask: linear-gradient(
	 to bottom,
	 rgba(0, 0, 0, 0) 0%,
	 rgba(0, 0, 0, 1) 12.5%,
	 rgba(0, 0, 0, 1) 25%,
	 rgba(0, 0, 0, 0) 37.5%
  );
}

.gradient-blur > div:nth-of-type(1) {
  z-index: 2;
  backdrop-filter: blur(1px);
  mask: linear-gradient(
	 to bottom,
	 rgba(0, 0, 0, 0) 12.5%,
	 rgba(0, 0, 0, 1) 25%,
	 rgba(0, 0, 0, 1) 37.5%,
	 rgba(0, 0, 0, 0) 50%
  );
}

.gradient-blur > div:nth-of-type(2) {
  z-index: 3;
  backdrop-filter: blur(2px);
  mask: linear-gradient(
	 to bottom,
	 rgba(0, 0, 0, 0) 25%,
	 rgba(0, 0, 0, 1) 37.5%,
	 rgba(0, 0, 0, 1) 50%,
	 rgba(0, 0, 0, 0) 62.5%
  );
}

.gradient-blur > div:nth-of-type(3) {
  z-index: 4;
  backdrop-filter: blur(4px);
  mask: linear-gradient(
	 to bottom,
	 rgba(0, 0, 0, 0) 37.5%,
	 rgba(0, 0, 0, 1) 50%,
	 rgba(0, 0, 0, 1) 62.5%,
	 rgba(0, 0, 0, 0) 75%
  );
}

.gradient-blur > div:nth-of-type(4) {
  z-index: 5;
  backdrop-filter: blur(8px);
  mask: linear-gradient(
	 to bottom,
	 rgba(0, 0, 0, 0) 50%,
	 rgba(0, 0, 0, 1) 62.5%,
	 rgba(0, 0, 0, 1) 75%,
	 rgba(0, 0, 0, 0) 87.5%
  );
}

.skip-to-main {
	position: absolute;
	top: -48px;
	left: 8px;
	padding: 12px 16px;
	text-decoration: none;
	border-radius: 4px;
	font-size: 16px;
	z-index: 1000;
	transition: 0.2s ease-in-out;
}

.skip-to-main:focus-visible {
	top: 8px;
}

.gradient-blur > div:nth-of-type(5) {
  z-index: 6;
  backdrop-filter: blur(8px);
  mask: linear-gradient(
	 to bottom,
	 rgba(0, 0, 0, 0) 62.5%,
	 rgba(0, 0, 0, 1) 75%,
	 rgba(0, 0, 1, 1) 87.5%,
	 rgba(0, 0, 0, 0) 100%
  );
}

.gradient-blur > div:nth-of-type(6) {
  z-index: 7;
  backdrop-filter: blur(8px);
  mask: linear-gradient(
	 to bottom,
	 rgba(0, 0, 0, 0) 75%,
	 rgba(0, 0, 0, 1) 87.5%,
	 rgba(0, 0, 0, 1) 100%
  );
}

.gradient-blur::after {
  content: "";
  z-index: 8;
  backdrop-filter: blur(8px);
  mask: linear-gradient(
	 to bottom,
	 rgba(0, 0, 0, 0) 87.5%,
	 rgba(0, 0, 0, 1) 100%
  );
}

nav .inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 20;
}

nav .inner > a, nav .inner button{
	z-index: 100;
}

nav ul {
	display: flex;
	gap: 32px;
	position: relative;
}

nav ul li {
	list-style: none;
}

nav a {
	font-size: 16px;
	padding: 8px 4px;
	transition: var(--default-transition);
}

.light-text nav ul li a {
	color: var(--light-50);
}

.light-text nav ul li a:hover {
	color: var(--light);
}

.light-text nav ul li.selected a {
	color: var(--light);
}

.dark-text nav ul li.selected a {
	color: var(--dark);
}

nav .indicator {
	position: absolute;
	top: 100%;
	margin-top: 4px;
	font-size: 16px;
	pointer-events: none;
	z-index: 10;
}

.hamburger {
	display: none;
	flex-direction: column;
	background: none;
	border: none;
	cursor: pointer;
	padding: 8px;
	gap: 4px;
	height: 40px;
	justify-content: center;
	align-items: center;
}

.hamburger span {
	width: 24px;
	height: 1.5px;
	border-radius: 4px;
	background: currentColor;
	transition: 0.4s var(--slimy-transition);
	transform-origin: center;
}

.hamburger.open span:nth-child(1) {
	transform: rotate(45deg) translate(4px, 4px);
}

.hamburger.open span:nth-child(2) {
	opacity: 0;
	transform: translateX(-20px);
}

.hamburger.open span:nth-child(3) {
	transform: rotate(-45deg) translate(4px, -4px);
}

.hero {
	height: 800px;
	display: flex;
	align-items: flex-end;
	padding: 64px 32px;
	padding-bottom: 16px;
	color: var(--light);
	background-size: cover;
   background-position: bottom;

	/* Parallax: */
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
}

.hero::after, .hero::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(112.15% 112.13% at 50% -16.67%, rgba(0, 0, 0, 0) 80.19%, #000000 100%);
}

.hero::before {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 43.85%); 
	/* position: fixed; */
	top: 0;
	height: 800px;
	bottom: revert;
}

.hero.home {
	padding-bottom: 16px;
}

.currently-wrapper {
	padding: 0 32px; 
}

.currently {
	display: flex;
	gap: 4px;
	align-items: center;
	z-index: 2;
	position: relative;
}

.currently p {
	font-size: 20px;
	color: var(--light-50);
}

.currently .logos {
	display: flex;
	padding-left: 6px;
	padding-bottom: 6px;
}

.currently .logos .logo-tooltip {
	margin-left: -6px;
}

.currently .logos img {
	border-radius: 50%;
	width: 32px;
	height: 32px;
	outline: 2px solid var(--dark);
	transition: 300ms var(--bouncy-transition);
}

.currently .logos img:hover {
	transform: scale(1.1) translateY(-4px);
}

.currently .logos img:active {
	transform: scale(1.05) translateY(-2px);
}

.currently .punc {
	display: flex;
	align-items: center;
	gap: 2px;
}

.currently .row {
	display: flex;
	gap: 4px;
	align-items: center;
}


.tabs-container {
	padding: 64px 32px;
	padding-bottom: 32px;
}

.tabs {
	display: flex;
	gap: 24px;
	position: relative;
	margin-top: 24px;
	padding-top: 16px;
	width: 100%;
}

.tab {
	background: none;
	border: none;
	font-size: 32px;
	cursor: pointer;
	transition: var(--default-transition);
	color: var(--light-50) !important
}

.tabs .work-tab {
	position: relative;
	 top: 4px;
}

.tab:focus-visible {
	outline-offset: 6px;
}

.craft {
	font-family: 'EB Garamond', serif;
}

.tab:hover,
.tab.active {
	color: var(--light) !important;
}

.tabs .sep {
	width: 100%;
	height: 1px;
	background: var(--light-10);
	position: absolute;
	top: 0;
	left: 0;
}

.tab-underline {
	position: absolute;
	top: 0;
	height: 1px;
	background-color: var(--light);
	/* transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1), width 0.3s cubic-bezier(0.4, 0, 0.2, 1); */
	transition:
	 left var(--tab-underline-transition) var(--slimy-transition), width var(--tab-underline-transition) var(--slimy-transition);
}

.panels-container {
	overflow: hidden;
	width: 100%;
}

.panels-wrapper {
	display: flex;
	width: 200%;
	/* transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1); */
	transition:
	 transform 0.6s var(--slimy-transition);
}

.panel-slide {
	width: 50%;
	background: #000;
}

.panel-slide > div {
	transition: var(--tab-underline-transition);
}

.panel h3 {
	font-size: 24px;
	margin-bottom: 16px;
}

.panel p {
	font-size: 16px;
}

.inner {
	max-width: var(--content-max-width);
	margin: 0 auto;
	width: 100%;
}

.hero .inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	z-index: 2;
}

.hero .inner > * {
	width: 100%;
}

.hero .inner h1 {
	font-size: 42px;
	font-weight: 600;
	line-height: 120%;
}

.hero .inner h1 span:first-child {
	color: var(--light);
}

.hero .inner h1 span:last-child {
	color: var(--light-50);
}

.home .hero .inner h1 {
	/* max-width: 20%; */
}

.hero .inner h2 {
	font-size: 42px;
	/* width: 66%; */
	margin-left: auto;
	line-height: 120%;
}

.button-row {
	display: flex;
	gap: 16px;
}

.home h1, .home h2 {
	font-size: 24px;
	line-height: 130%;
	font-weight: 400;
}

.home .top {
	display: flex;
	flex-direction: column;
	gap: 32px;
	width: 100%;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 15px 20px 12px 20px;
	border-radius: 128px;
	font-size: 16px;
	transition: var(--default-transition);
	width: fit-content;
	height: 48px;
}

.button:not(.light-10):not(.dark-10):hover {
	opacity: 0.8;
}

.button.light {
	background: var(--light);
	color: var(--dark);
}

.button.light-10 {
	background: var(--light-10);
	color: var(--light);
}

.button.light-10:hover {
	background: var(--light-15);
}

.button.dark {
	background: var(--dark);
	color: var(--light);
}

.button.dark-10 {
	background: var(--dark-10);
	color: var(--dark);
}

.button.dark-20 {
	background: var(--dark-15);
}

.light-text .hero ::selection {
	background: var(--light);
	color: var(--dark)
}

::selection {
	background: var(--light);
	color: var(--dark)
}

.work-panel {
	display: flex;
	flex-direction: column;
}

.work-section {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;	
	justify-content: center;
	align-items: center;
	padding: 64px 32px;
	position: relative;
	border-top: 1px solid var(--light-10);
}

.work-section ::selection {
	background: var(--accent);
	color: var(--onAccent);
}

.work-section .top {
	display: grid;
  grid-template-columns: repeat(6, 1fr);
	gap: 32px;
}

.work-section .inner {
	display: flex;
	flex-direction: column;
	gap: 32px;
	z-index: 2;
}

.work-section .inner .left {
	display: flex;
	flex-direction: column;
	gap: 16px;
	flex: 1;
 	grid-column: span 3;
}

.work-section .inner .left .info {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.work-section .inner .left .info h2 {
	color: var(--light);
	font-size: 24px;
	font-weight: normal;
	line-height: 130%;
	max-width: 75%;
}

.work-section .inner .left .info .heading {
	font-weight: 700;
}

.work-section .inner .left .info .subheading {
	color: var(--light-70);
}

.work-section .inner .left .info img {
	width: 48px;
	height: 48px;
	border-radius: var(--img-border-radius);
}

.work-section .inner .right {
   grid-column: span 3;
	display: flex;
	gap: 32px;
	flex: 1;
	justify-content: flex-end;
	padding-top: 64px;
}

.work-section .inner .right p {
	flex: 1;
	color: var(--light-80);
	font-size: 16px;
	line-height: 130%;
}


.work-section .img {
	width: 100%;
	height: 600px;
	background: var(--light-10);
	backdrop-filter: blur(32px);
	border-radius: var(--img-border-radius);
	display: flex;
	justify-content: center;
	align-items: center;
}

.work-section .img img {
	border-radius: var(--img-border-radius);
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.work-section .backdrop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	mask: linear-gradient(to bottom, var(--dark), var(--dark), transparent);
	background: rgba(0 0 0 / 30%);
}

.craft-panel {
	background: var(--dark);
	padding: 64px 32px;
}

.craft-panel .inner {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.craft-panel .inner .row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 32px;
}

.craft-panel .inner .col {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.craft-panel .inner .col img {
	width: 100%;
	object-fit: cover;
	border-radius: var(--img-border-radius);
	border: 1px solid var(--dark-10);
}

footer {
	padding: 128px 32px;
	background-position: top;
	background-size: cover;
}

footer .inner {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 32px;
}

footer .inner .col.left {
	grid-column: span 3;
	gap: 16px
}

footer .inner h2 {
	width: 330px;
}

footer .inner h2 span:first-child {
	color: var(--light);
}

footer .inner h2 span:last-child {
	color: var(--light-50);
}

footer .inner .col {
	grid-column: span 1;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

footer .inner .double {
	gap: 32px;
}

footer .inner .double .mini-col {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

footer .inner .button-row {
  grid-column: span 3;
  justify-content: flex-end;
}

footer a, footer p {
	font-size: 16px;
	line-height: 130%;
	transition: var(--default-transition);
}

footer a:hover {
	text-decoration: underline;
	text-underline-offset: 4px;
}

footer a, footer p.light {
	color: var(--light);
}

footer a:not(a.button):focus-visible {
	outline-offset: 6px;
	border-radius: 1px;
	height: 20.8px;
}

footer a:focus-visible {
	outline-color: var(--light) !important;
}

footer p {
	color: var(--light-50);
}

footer ul {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

footer ul li {
	list-style: none;
}

footer .row {
	display: flex;
	align-items: center;
	gap: 8px;
}

footer .archive {
	white-space: nowrap;
}

button {
	font-family: 'Helvetica Neue Roman', sans-serif;
}

.contact .light-section {
	padding: 64px 32px;
}

.contact .light-section .inner {
	display: flex;
	flex-direction: column;
	gap: 96px;
}

.contact .inner .text-wrapper {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 32px;
}

.contact .inner .text {
	display: flex;
	flex-direction: column;
	gap: 32px;
	grid-column: span 3;
}

.contact .inner .text p {
	font-size: 24px;
	line-height: 130%;
}

.contact-cards {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 48px 32px;
}

.contact-card {
	padding: 24px;
	background: var(--light-5);
	border-radius: 4px;
	position: relative;
	height: 128px;
	display: flex;
	align-items: flex-end;
	grid-column: span 3;
	transition: var(--default-transition);
}

.contact-card:hover {
	background: var(--light-10);
}

.contact-card:hover svg {
	transform: translate(4px, -4px);
}

.contact-card:hover svg path {
	stroke: var(--light);
}

.contact-card .top-line {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 3px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.contact-card h3 {
	font-size: 24px;
	color: var(--light);
	font-weight: 500;
}

.contact-card svg {
	position: absolute;
	top: 24px;
	right: 24px;
	transition: var(--default-transition);
	width: 32px;
	height: 32px;
}

.contact-card svg path {
	stroke: var(--gray);
}

.contact-card img {
	width: 64px;
	height: 64px;
	position: absolute;
	left: 24px;
	top: -32px;
	border-radius: var(--img-border-radius);
	transition: var(--default-transition);
}

.contact-card .resume-img {
	border-radius: 1px;
	box-shadow: 0 1px 2px rgba(0 0 0 / 32%);
}

.contact-card:hover img {
	transform: rotate(4deg) scale(1.06) translate(4px, -4px);
	box-shadow: 0 2px 4px rgba(0 0 0 / 32%);
}

.contact-card a:focus-visible {
	outline: none;
}

.contact-card a::after {
	position: absolute;
	inset: 0;
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 4px;
	transition: var(--default-transition);
}

.contact-card a:focus-visible::after {
	outline: 3px dotted var(--dark);
	outline-offset: 2px;
}

.contact-card:hover svg path {
  stroke: var(--card-accent-color);
}

.letter-wrapper {
	display: flex;
	justify-content: center;
	position: relative;
	bottom: -200px;
	padding-top: 100px;
}

.letter-wrapper:hover .paper, .letter-wrapper:has(.copy:focus-visible) .paper {
  transform: translateX(-50%) translate(8px, -24px) rotate(4deg) scale(1.03);
  box-shadow: 0 -8px 16px rgba(0 0 0 / 8%);
}

.letter-wrapper:hover .paper .copy, .copy:focus-visible {
	opacity: 0.7 !important;
	transform: scale(1) !important;
}

.letter-fg {
	position: absolute;
	bottom: -12px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	pointer-events: none;
}

.paper {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	background: var(--light);
	border-radius: 4px;
	z-index: 1;
	box-shadow: 0 -4px 8px rgba(0 0 0 / 8%);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	padding: 48px 32px;
	width: 300px;
	height: 300px;
	/* transition: var(--default-transition); */
	transition: transform 0.3s var(--bouncy-transition), top 0.3s var(--bouncy-transition), box-shadow var(--default-transition);
	border: 1px solid var(--dark-15);
}

.paper .top {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.paper .top h2 {
	font-size: 24px;
	color: var(--dark);
}

.paper .top a {
	width: 200px;
	height: 42px;
}

.paper > * {
	z-index: 3;
}

.paper .copy {
	opacity: 0;
	transition: var(--default-transition);
	transform: scale(0.8);
	color: var(--dark-50);
	font-size: 16px;
	background: none;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
	cursor: pointer;
	padding: 12px;
	width: 200px;
	height: 42px;
}

.paper .copy:hover {
	opacity: 1 !important;
}

.paper .copy svg {
	width: 18px;
	height: 18px;
	position: relative;
	top: -2px;
}

.paper .copy svg path {
	transition: var(--default-transition);
}

.paper .copy:hover svg .first {
	transform: translate(-0.75px, -0.75px);
}

.paper .copy:hover svg .second {
	transform: translate(0.75px, 0.75px);
}

.paper .copy .checkmark-icon {
	animation: checkmark-icon-appear 0.4s var(--bouncy-transition);
}

@keyframes checkmark-icon-appear {
	0% { transform: scale(1); }
	50% { transform: scale(0.7); }
	100% { transform: scale(1); }
}

.content {
	padding: 96px 0;
}

.about .content {
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 64px;
}

.about .bio {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.about .bio p {
	font-size: 24px;
	line-height: 150%;
	color: var(--light-70);
}

.about .bio img {
	width: 200px;
	border-radius: 4px;
}

.about .sep {
	background: var(--light-15);
	width: 100%;
	height: 1px;
}

.about h3 {
	font-size: 36px;
	line-height: 130%;
	font-weight: 500;
}

.about .work-experience {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.about .entry-card {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.about .entry-card .meta {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.about .entry-card .meta .top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about .entry-card .meta .top a {
	font-size: 20px;
	color: var(--light);
	transition: var(--default-transition);
	display: flex;
	align-items: end;
	gap: 4px;
}

.link-animation svg path {
	stroke: var(--light);
	transition: var(--default-transition);
}

.link-animation svg {
	transition: var(--default-transition);
}

.link-animation:hover svg {
	transform: translate(4px, -4px);
}

.about .entry-card a:hover svg path {
	stroke: var(--green);
}

.about .entry-card a span {
	transition: var(--default-transition);
}

.about .entry-card a:hover span {
	color: var(--green);
}

.about .entry-card img {
	width: 48px;
	height: 48px;
	border-radius: var(--img-border-radius);
}

.about .entry-card p {
	font-size: 20px;
	line-height: 150%;
}

.about .entry-card .text {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.about .entry-card .meta h4 {
	font-weight: 700;
	font-size: 20px;
	line-height: 130%;
}

.about .entry-card .meta .date {
	color: var(--light-50);
}

.about .entry-card-wrapper {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.about .entry-card .clients {
	display: grid; 
	grid-template-columns: repeat(4, 1fr);
	gap: 16px;
}

.about .entry-card .clients .client {
grid-column: span 1;
	border-radius: var(--img-border-radius);
	background: var(--light-10);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px;
	height: 74px;
}

.about .more {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.about .more-container {
	display: flex;
	gap: 32px;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -40vw;
	margin-right: -40vw;
	max-width: 80vw;
}

.about .more-container article {
	display: flex;
	flex-direction: column;
	gap: 16px;
	position: relative;
	flex: 1;
}

.about .more-container article .img-wrapper {
	padding: 24px;
	background: var(--light-10);
	display: flex;
	height: 395px;
	justify-content: center;
	align-items: center;
	/* overflow: hidden; */
	clip-path: inset(-100px -100px 0px -100px); 
}

.about .more-container .mac .mac-wrapper {
	position: relative;
}

.about article img {
	width: 100%;
	height: 200px;
	border-radius: 0;
	object-fit: cover;
}

.about .resume img {
	width: 330px;
	height: 420px;
	bottom: -50px;
	position: relative;
	box-shadow: 0 4px 8px rgba(0 0 0 / 16%);
	transition: 0.3s var(--bouncy-transition), box-shadow var(--default-transition);
}

.about .mac img {
	width: 343px;
	height: 245px;
}

.about .mac .sticker {
	position: absolute;
	transition: var(--default-transition);
}

.about .mac .dcc {
	width: 64px;
	height: 64px;
	left: 33px;
	bottom: 44px;
}

.about .mac .dti {
	width: 64px;
	height: 64px;
	left: 42px;
	bottom: 134px;
}

.about .mac .cuxd {
	width: 107px;
	height: 64px;
	top: 22px;
	left: 102px;
}

.about .mac .cornell {
	width: 85px;
	height: 91px;
	top: 23px;
	right: 43px;
}

.about .mac .wvbr {
	width: 88px;
	height: 86px;
	right: 53px;
	bottom: 43px;
}

.about .more-container article.resume:hover img {
	transform: rotate(4deg) scale(1.06) translate(2px, -35px);
	box-shadow: 0 4px 8px rgba(0 0 0 / 32%);
}

.about .more-container article.mac:hover .dcc {
	transform: rotate(-4deg) translate(-4px, -4px);
}

.about .more-container article.mac:hover .dti {
	transform: rotate(-6deg) translate(-6px, -4px);
}

.about .more-container article.mac:hover .cuxd {
	transform: rotate(4deg) translate(4px, -4px);
}

.about .more-container article.mac:hover .cornell {
	transform: rotate(8deg) translate(8px, -8px);
}

.about .more-container article.mac:hover .wvbr {
	transform: rotate(12deg) translate(4px, -4px);
}

.about .more-container article .link-animation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about .more-container article .link-animation::after {
	content: '';
	position: absolute;
	inset: 0;
	border-radius: var(--img-border-radius);
	width: 100%;
	height: 100%;
	transition: var(--default-transition);
}

.about .more-container article h4 {
	font-size: 20px;
	font-weight: 400;
	color: var(--light);
}

.about .more-container article svg path {
	stroke: var(--light);
}

.about .more-container article a:focus-visible::after {
	outline: 3px dotted var(--light);
	outline-offset: 2px;
}

.about .more-container .studio .img-wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	 padding-top: 62px;
	 padding-left: 50px;
}

.about .more-container .studio .img-wrapper img {
	width: 150%;
	margin-top: -42px;
	height: auto;
	position: relative;
	transition: var(--longer-transition);
}

.about .more-container .studio .row2 {
	transform: translate(-32px, 4px);
}

.about .more-container .studio:hover .row1, .about .more-container .studio:hover .row3 {
	transform: translate(-32px, 8px);
}

.about .more-container .studio:hover .row2 {
	transform: translate(0px, 4px);
}

.activities .content {
	max-width: 600px;
	margin: 0 auto;
	max-width: 800px;
	display: flex;
	flex-direction: column;
	/* gap: 128px; */
	position: relative;
}
	
.studio-section {
	height: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.studio-section h3 {
	font-size: 24px;
	font-weight: 400;
}

.activity {
	display: flex;
	flex-direction: column;
	gap: 48px;
}

.activities .line {
	background: linear-gradient(to bottom, var(--light-15) 85%, rgba(0 0 0 / 0%));
	position: absolute;
	left: 30px;
	height: 100%;
	width: 1px;
	top: 0;
}

.activity .meta {
	display: flex;
	gap: 16px;
}

.activity .meta .right {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.activity .meta h2 {
	font-size: 32px;
	font-weight: bold;
}

.activity .meta p {
	font-size: 20px;
	color: var(--light-50);
}

.activity .meta img {
	width: 60px;
	height: 60px;
	border-radius: var(--img-border-radius);
	background-color: var(--red);
	outline: 8px solid var(--dark);
	z-index: 2;
}

.polaroid {
	border-radius: var(--img-border-radius);
	padding: 20px;
	box-shadow: 0 8px 16px rgba(0 0 0 / 6%);
	background: #fff;;
	display: flex;
	flex-direction: column;
	gap: 16px;
	border: 1px solid var(--dark-10);
	/* left: 50%; */
	/* transform: translateX(-50%); */
	position: relative;
	transition: 300ms var(--bouncy-transition);
	transform: var(--rotate-angle);
}

.polaroid:hover {
	transform: var(--rotate-angle) scale(1.02) translateY(-12px);
	box-shadow: 0 14px 24px rgba(0, 0, 0, 0.10);
}

.polaroid:active {
	transform: var(--rotate-angle) scale(1.01) translateY(-4px);
	box-shadow: 0 12px 20px rgba(0, 0, 0, 0.08);
}
.polaroid.large {
	width: 810px;
}

.polaroid.default {
	width: 470px;
}

.polaroid img {
	border-radius: 2px;
	width: 100%;
}

.polaroid .img-wrapper {
	position: relative;
	width: 100%;
}

.polaroid .img-wrapper::after {
	box-shadow: inset 0 0 8px rgb(0 0 0 / 32%);
	content: '';
	inset: 0;
	width: 100%;
	height: 99%;
	border-radius: 2px;
	position: absolute;
}

.polaroid .text {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.polaroid a {
	color: var(--red);
	cursor: pointer;
	transition: var(--default-transition); 
	text-decoration: underline;
	text-underline-offset: 3px;
	text-decoration-thickness: 0.8px;
}

.polaroid a:hover {
	opacity: 0.8;
}

.polaroid span {
	color: var(--dark);
	font-weight: bold;
}

.polaroid p {
	font-size: 20px;
	color: var(--dark-50);
	line-height: 130%;
}

.logo-tooltip {
	position: relative;
	display: flex;
}

.logo-tooltip:hover span {
	top: -48px;
	opacity: 1;
}

.logo-tooltip:active span {
	top: -44px;
}

.logo-tooltip span {
	padding: 10px 12px 6px 12px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -40px;
	transition: 300ms var(--bouncy-transition);
	opacity: 0;
	border-radius: 16px;
	text-wrap: nowrap;
	font-size: 18px;
}

@media (max-width: 1200px) {
	.about .more-container {
		flex-direction: column;
	}
}

@media (max-width: 1000px) {
	.work-section .top {
	   grid-template-columns: 1fr;
		gap: 16px;
	}

	.work-section .inner .left {
		gap: 8px;
	}

	.work-section .inner .right {
		padding-top: 0;
	}

	.work-section .inner .left .info h2 {
		max-width: 100%;
	}

	footer .inner {
		grid-template-columns: repeat(3, 1fr)
	}

	footer .inner .button-row {
		grid-column: span 1;
		justify-content: flex-start;
		flex-direction: column;
	}

	footer .inner h2 {
		width: revert;
	}

	footer .inner .button-row a {
		width: 100%;
	}

	footer .inner .col.left {
		grid-column: span 4;	
	}

	.hero {
		height: 600px;
	}

	.hero .inner h1 {
		font-size: 48px;
	}

	.hero h2 {
		font-size: 24px;
	}

	.about .more-container {
		grid-template-columns: 1fr 1fr;
	}

	.about .more-container article {
		grid-column: span 1;
		min-width: 50%;
	}

	.about .more-container article .img-wrapper {
		height: calc((100vw - 32px*3)/2)
	}

	.about .more-container .mac .mac-wrapper {
		transform: scale(0.8);
	}
	
	.about .resume img {
		width: 100%;
		height: auto;
		aspect-ratio: 330 / 420;
	}

	.hero .inner h2 {
		line-height: 130%;
	}

	.contact .inner .text-wrapper {
		display: revert;
	} 

	.contact .light-section {
		padding-top: 320px;
	}

	.contact .letter-wrapper {
		transform: translateX(-50%);
		left: 50%;
		position: absolute;
		bottom: 120px;
	}

	.work-section .img {
		height: auto;
	}
}

@media (max-width: 800px) {
	.polaroid {
		transform: revert !important;
		top: 0 !important;
		left: 0 !important;
		margin-bottom: 16px;
	}

	.about .entry-card .clients {
		grid-template-columns: repeat(2, 1fr);
	}
	
	.about .bio, .about .work-experience, .about .more, .activity {
		padding: 0 16px;
	}

	.about h3 {
		font-size: 24px;
	}

	.about .bio p {
		font-size: 20px;
	}
	
	.hero .inner {
		gap: 16px;
	}
	
	.hero .inner h2 {
		margin-left: 0;
		font-size: 24px;
		width: 100%;
	}

	.hero .inner h1 {
		font-size: 24px;
		max-width: revert;
	}

	.about .more-container .mac .mac-wrapper {
        transform: scale(0.8);
    }

	.craft-panel .inner .row, .craft-panel .inner .col {
		gap: 16px;
	}

	.craft-panel .inner .col img {
		height: auto !important;
		object-fit: revert;;
	}

	.craft-panel .inner .row, .craft-panel .inner {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
}

@media (max-width: 600px) {
	nav, .hero {
		padding-left: 16px;
		padding-right: 16px;
	}

	.craft-panel {
		padding: 32px 16px;
	}

	.tabs {
		gap: 16px;
	}

	.hamburger {
		display: flex;
	}

	nav .indicator {
		display: none;
	}

	.nav-list {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: var(--dark);
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 64px 32px;
		z-index: 40;
		gap: 16px;
		transform: translateY(-100%);
		transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
		display: flex;
	}

	.nav-list.mobile-open {
		transform: translateY(0);
		padding-left: 16px;
		padding-right: 16px;
	}

	.nav-list li {
		font-size: 32px;
		opacity: 0;
		transform: translateY(20px);
		transition: opacity 0.3s ease, transform 0.3s ease;
	}

	.nav-list.mobile-open li {
		opacity: 1;
		transform: translateY(0);
		/* margin-left: 28px; */
		display: flex;
		width: 100%;
	}

	.nav-list.mobile-open li a {
		font-size: 40px;
		width: 100%;
	}

	.nav-list.mobile-open li:nth-child(1) {
		transition-delay: 0.3s;
	}

	.nav-list.mobile-open li:nth-child(2) {
		transition-delay: 0.4s;
	}

	.nav-list.mobile-open li:nth-child(3) {
		transition-delay: 0.5s;
	}

	.nav-list.mobile-open li:nth-child(4) {
		transition-delay: 0.6s;
	}

	.nav-list.mobile-open li:nth-child(5) {
		transition-delay: 0.7s;
	}

	.nav-list.mobile-exiting {
		transform: translateY(-100%);
		transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
		transition-delay: 0.3s;
	}

	.nav-list.mobile-exiting li {
		opacity: 0;
		transform: translateY(-20px);
		transition: opacity 0.15s ease, transform 0.15s ease;
	}

	.nav-list.mobile-exiting li:nth-child(1) {
		transition-delay: 0.20s;
	}

	.nav-list.mobile-exiting li:nth-child(2) {
		transition-delay: 0.15s;
	}

	.nav-list.mobile-exiting li:nth-child(3) {
		transition-delay: 0.1s;
	}

	.nav-list.mobile-exiting li:nth-child(4) {
		transition-delay: 0.05s;
	}
	
	.nav-list.mobile-exiting li:nth-child(5) {
		transition-delay: 0s;
	}

	.nav-list li a {
		font-size: 32px;
		color: var(--light-50);
	}

	.nav-list li.selected a {
		color: var(--light);
	}

	.nav-list .indicator {
		position: absolute;
		left: 16px !important;
		margin-top: 0px;
		font-size: 40px;
		transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
		opacity: 0 !important;
	}

	.nav-list.mobile-open .indicator {
		opacity: 1 !important;
		transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s ease !important;
	}

	.nav-list.mobile-exiting .indicator {
		transition: opacity 0.15s ease;
	}

	nav:has(.nav-list.mobile-open) .inner *{
		color: var(--light) !important;
	}

	.tabs-container {
		padding-left: 16px;
		padding-right: 16px;
	}

	.work-section {
		padding: 32px 16px;
	}

	.work-section .inner .right p:first-child {
		display: none;
	}

	.work-section .inner .right p {
		text-align: left !important;
	}

	footer {
		padding: 32px 16px;
		padding-bottom: 64px;
	}

	footer .inner {
		grid-template-columns: repeat(2, 1fr);
	}

	footer .inner .button-row, footer .inner .double {
		grid-column: span 2;
		gap: 32px;
	}	

	footer .inner .double {
		flex-direction: row;
	}

	footer .inner .double .mini-col {
		flex: 1;
	}

	footer .inner .col.left {
		grid-column: span 2;
	}

	.tab {
		flex: 1;
	}

	.button-row a {
		flex: 1;
	}

	.light-section {
		padding: 32px 16px;
	}

	.about-section .inner {
		grid-template-columns: repeat(2, 1fr);
		gap: 32px;
	}

	.about .img-wrapper, .about .text, .about .sep{
		grid-column: span 6;
	}
	
	.about .more-container {
		grid-template-columns: 1fr;
	}

	.about .more-container article {
		width: 100%;
	}

	.about .more-container article .img-wrapper {
		height: calc(100vw - 32px);
	}

	.about .resume img {
		width: 90%;
	}

	.about .more-container .mac .mac-wrapper {
		transform: scale(0.9);
	}

	.about .text.bio p, .about .text p, .about .entry-card .meta h4, .about .entry-card a span, .about .more-container article h4 {
		font-size: 18px;
	}

	.link-animation svg {
		width: 22px;
		height: 22px;
	}

	.contact .light-section {
		padding: 32px 16px;
		padding-top: 390px;
	}

	.contact-cards {
		grid-template-columns: 1fr;
	}

	.contact .inner .text {
		gap: 16px;
	}

	.contact .letter-wrapper {
		bottom: 16px;
		transform: scale(0.8) translateX(-50%);
		transform-origin: left;
	}


.currently {
	flex-direction: column;
	align-items: flex-start;
	gap: 4px;
}
.currently-wrapper {
	padding: 0 16px;
}

}

@media (max-width: 450px) {
	.contact .letter-wrapper {
		transform: scale(0.6) translateX(-50%);
	}

	.contact .light-section {
		padding-top: 320px;
	}
}

@media (max-width: 400px) {
	.button-row, footer .inner .button-row {
		flex-direction: column;
		gap: 16px;
	}

	.button-row a, .work-section a {
		width: 100%;
	}

	.about .entry-card .clients {
		grid-template-columns: repeat(2, 1fr);
	}
}